@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body section,nav{
    margin:2rem 7rem ;


}
/*  Nav - Bar*/
.nav-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: sans-serif;
}
.logo{
    font-size: 1.5rem;
}
.bar-items{
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    
}
.bar-items div a{
    text-decoration: none;
    color: black;
}
.btn-1{
    width: 120px;
    height: 40px;
    border-radius: 2rem;
    background-color: black;
    color: white;
}

/* Content Section */

.content{
    display: flex;
    margin-top: 5rem;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.content-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 700px;
}
.heading h1{
    font-size: 5rem;
}
.heading span{
    color: grey;
}
.para{
    margin-top: 3rem;
    letter-spacing: 0.8px;
    max-width: 500px;
    font-weight: 500;
}
.content .btn-container{
    margin-top: 3rem;
}
.btn-2{
    width: 120px;
    height: 40px;
    background-color: white;
    margin-left: 2rem;
    border-radius: 2rem;
}
.img-container .img{
    height: 450px;
    width: 450px;
    border-radius: 50%;
}

/* Popularity */

.popular{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap:2rem;
    margin-top: 2rem;
}
.popular h1{
    font-size: 1.8rem;
}
.popular-contianer span{
    font-size: 2.5rem;
    font-weight: 600;
}



.product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;   
    align-items: center;
    margin-top: 3rem;
}
.product .heading h1 span{
    margin-left: -2.5rem;
}
.product .heading h1{
    font-size: 4rem;
}
.product-container{
    display: flex;
   justify-content: space-between;
    gap: 10rem;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.product-img-container{
    background-color: rgb(211, 211, 211);
    border-top-left-radius: 25rem;
    border-top-right-radius: 25rem;
}
.product-img-container img{
    width: 200px;
}
.p-img-1{
    margin-top: -3rem;
}
.con{
    background-color: black;
    color: white;
    padding: 1rem;
    position: absolute;
    margin-top: -2rem;
    width: 200px;
}
.con h1{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
}
.con p{
    text-align: center;
    margin: 1rem;
}





.body-content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 15rem;
}
.img-back{
    height: 400px;
    width: 400px;
    background-color: rgb(211, 211, 211);
    border-radius: 50%;
    margin-top: 15rem;
}
.img-back img{
    margin-top: -4rem;
    margin-left: -1.5rem;
    height: 500px;
    width: 450px;
}
.body-container{
    margin-top: 12%;
    max-width: 600px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: row;
    margin-top: 3rem;
}
.card{
    background-color: rgb(236, 236, 236);
    width: 250px;
    padding: 1.5rem;
}
.s{
    background-color: rgb(211, 211, 211);
    width: 250px;
    padding: 1.5rem;
}
.card p{
    margin-top: 1rem;
}
.star{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    margin-top: -2rem;
    margin-left: -2rem;
}
.star img{
    height: 20px;
    width: 20px;
    margin: 4px;
}


/* Features Area */

.feature{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feature-content{
    margin-top: 10rem;
    max-width: 700px;
}
.heading p{
    margin-top: 2rem;
    max-width: 500px;
}

.feature .img-back{
    height: 500px;
    width: 500px;
}
.feature .card{
    background-color: rgb(236, 235, 235);
}
.feature .cards p{
    color: grey;

}
.feature .img-back img{
    margin-top: -1rem;
    margin-left: 0.2rem;
}


/* Footer Section */

.footer{
    background-color: rgb(45, 44, 44);
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    color: white;
    gap: 10rem;
    padding: 10rem 5rem;
    
}
.footer >div{
    max-width: 400px;
    margin-left: 3rem;
}
.footer >div >h1{
    font-size: 4rem;
}
.footer >div >p{
    padding: 2rem 0rem;
    letter-spacing: 1px;
}
.contact{
    margin-top: 2rem;
    display: flex;
   gap: 5rem;
}
.contact h1{
    font-family: sans-serif;
}
.contact p{
    margin-top: 1.5rem;
}